In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("rating.csv")

In [3]:
df.head(20)

    userId  movieId  rating            timestamp
0        1        2     3.5  2005-04-02 23:53:47
1        1       29     3.5  2005-04-02 23:31:16
2        1       32     3.5  2005-04-02 23:33:39
3        1       47     3.5  2005-04-02 23:32:07
4        1       50     3.5  2005-04-02 23:29:40
5        1      112     3.5  2004-09-10 03:09:00
6        1      151     4.0  2004-09-10 03:08:54
7        1      223     4.0  2005-04-02 23:46:13
8        1      253     4.0  2005-04-02 23:35:40
9        1      260     4.0  2005-04-02 23:33:46
10       1      293     4.0  2005-04-02 23:31:43
11       1      296     4.0  2005-04-02 23:32:47
12       1      318     4.0  2005-04-02 23:33:18
13       1      337     3.5  2004-09-10 03:08:29
14       1      367     3.5  2005-04-02 23:53:00
15       1      541     4.0  2005-04-02 23:30:03
16       1      589     3.5  2005-04-02 23:45:57
17       1      593     3.5  2005-04-02 23:31:01
18       1      653     3.0  2004-09-10 03:08:11
19       1      919     3.5  2004-09-10 03:07:01

In [4]:
df.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [5]:
df["userId"]=df["userId"]-1

In [6]:
df.head()

   userId  movieId  rating            timestamp
0       0        2     3.5  2005-04-02 23:53:47
1       0       29     3.5  2005-04-02 23:31:16
2       0       32     3.5  2005-04-02 23:33:39
3       0       47     3.5  2005-04-02 23:32:07
4       0       50     3.5  2005-04-02 23:29:40

In [7]:
df["movieId"].min()

1

In [8]:
df["movieId"].max()

131262

In [9]:
df["movieId"].nunique()

26744

In [10]:
df["movieId"].shape

(20000263,)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 4 columns):
 #   Column     Dtype
---  ------     -----
 0   userId     int64
 1   movieId    int64
 2   rating     float64
 3   timestamp  object
dtypes: float64(1), int64(2), object(1)
memory usage: 610.4+ MB

In [13]:
df=df.drop("timestamp",axis=1)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int64
 1   movieId  int64
 2   rating   float64
dtypes: float64(1), int64(2)
memory usage: 457.8 MB

In [16]:
unique_movieid=set(df.movieId.values)

In [23]:
len(unique_movieid)

26744

In [24]:
movie2idx={}

In [25]:
count=0

In [27]:
for movie_id in unique_movieid:
    movie2idx[movie_id]=count
    count=count+1

In [28]:
df["movie_idx"]=df.apply(lambda row:movie2idx[row.movieId],axis=1)

In [30]:
df["movieId"].shape

(20000263,)

In [31]:
df["movieId"].nunique()

26744

In [32]:
df["movieId"].unique()

array([     2,     29,     32, ..., 121021, 110167, 110510], dtype=int64)

In [37]:
df.head(30)

    userId  movieId  rating  movie_idx
0        0        2     3.5          2
1        0       29     3.5         29
2        0       32     3.5         32
3        0       47     3.5         47
4        0       50     3.5         50
5        0      112     3.5        112
6        0      151     4.0        151
7        0      223     4.0        222
8        0      253     4.0        252
9        0      260     4.0        259
10       0      293     4.0        292
11       0      296     4.0        295
12       0      318     4.0        317
13       0      337     3.5        335
14       0      367     3.5        365
15       0      541     4.0        539
16       0      589     3.5        585
17       0      593     3.5        589
18       0      653     3.0        647
19       0      919     3.5        904
20       0      924     3.5        909
21       0     1009     3.5        992
22       0     1036     4.0       1019
23       0     1079     4.0       1059
24       0     1080     3.5       1060
25       0     1089     3.5       1069
26       0     1090     4.0       1070
27       0     1097     4.0       1077
28       0     1136     3.5       1115
29       0     1193     3.5       1171

## Shrinking the data

In [34]:
df["userId"].max()

138492

In [35]:
df["movieId"].max()

131262

In [36]:
n=10000
m=2000

In [41]:
from collections import Counter
user_ids_count=Counter(df.userId)
movie_id_count=Counter(df.movie_idx)

In [42]:
user_ids=[u for u,c in user_ids_count.most_common(n)]

In [44]:
movie_ids=[m for m,c in movie_id_count.most_common(m)]